Source: burpsuite
Section: net
Priority: optional
Maintainer: Parrot Dev Team <team@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.2.0
Homepage: https://portswigger.net
Vcs-Git: https://nest.parrotsec.org/security-tools/burpsuite
Vcs-Browser: https://nest.parrotsec.org/security-tools/burpsuite

Package: burpsuite
Architecture: all
Depends: ${misc:Depends}, openjdk-8-jre, jarwrapper
Description: platform for security testing of web applications
 Burp Suite is an integrated platform for performing security 
 testing of web applications. Its various tools work seamlessly 
 together to support the entire testing process, from initial 
 mapping and analysis of an application's attack surface, 
 through to finding and exploiting security vulnerabilities.
 .
 Burp gives you full control, letting you combine advanced 
 manual techniques with state-of-the-art automation, to make 
 your work faster, more effective, and more fun.
